html, body{min-height:100%;}

body {font-family: 'Nanum Gothic', sans-serif;}

/*부트스트랩 내비게이션*/
.navbar-default { background-color: #000000;}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { background-color: #EE0000;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { background-color: #080808;}
.dropdown-menu { background-color: #222222;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #EE0000;}
.navbar-default { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-default { border-color: #000000;}
.navbar-default .navbar-brand { color: #FFFFFF;}
.navbar-default .navbar-brand:hover { color: #EE0000;}
.navbar-default .navbar-nav>li>a { color: #FFFFFF;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #FFFFFF;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { color: #ee0000;}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { color: #FFFFFF;}
.dropdown-menu>li>a { color: #FFFFFF;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF;}
.navbar-default .navbar-nav>.dropdown>a .caret { border-top-color: #999999;}
.navbar-default .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF;}
.navbar-default .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999;}
.navbar-default .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF;}
.navbar-default .navbar-toggle{border-color: #333; background-color: transparent !important;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color: #333 !important;}

/*사이트 내비게이션 세부설정*/
#site-navigation{border-radius:0;}
.navbar-default .navbar-nav>li>a{padding:15px 20px;}

/*로고*/
.navbar > .container .navbar-brand{margin-left:0; padding:0;}
.wpbs-logoimg{padding:0;}

/*메뉴바 및 사이드바 검색창*/
form.search-form{display:block; padding:10px 0;}
form.search-form label{margin:0;}
.search-submit{height:28px; vertical-align:top;}

/*사이드바*/
/*.wpbs-sidebar h4{border-bottom:1px solid #dddddd; padding-bottom:10px;}
.wpbs-sidebar section{padding: 0 10px;}
.wpbs-sidebar ul{list-style:none; margin:0 0 10px 0; padding:0;}
.wpbs-sidebar ul>li{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}*/

/*프론트페이지 사이트 아이콘*/
.wpbs-site-icon{margin:50px 0;}
.wpbs-site-icon img{display:block; /*margin:0 auto;*/}

/*푸터*/
.site-footer{padding:20px 0;}
.wpbs-footer-container{width:100%; background:#000; color:#fff; margin-top:50px;}

/*===========================================
=       Bootstrap 3 Media Queries       =
===========================================*/

/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*.navbar-nav{
        float:right;
    }*/
    #wpbs-navbar-collapse-1{position: relative; margin-left:50px;}
    /*#wpbs-navbar-collapse-1>ul>li:last-child{height:50px; margin-left:50px;}*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px and) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .wpbs-container.container{width:100%; padding:0 5%;}
    .wpbs-content{margin-left:-15px;}
    .wpbs-sidebar{right:0; margin-right:-15px; transition:all 0.5s;}
    /*.wpbs-sidebar.affix-top{}*/
    .wpbs-sidebar.affix{top:50px; padding-right:5%;}
    
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
    .wpbs-container.container{width:100%; padding:0 5%;}
}
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}